// cover some element-ui styles
.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type='file'] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

.cell {
  .el-tag {
    margin-right: 0px;
  }
}

.small-padding {
  .cell {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.fixed-width {
  .el-button--mini {
    padding: 7px 10px;
    min-width: 60px;
  }
}

.status-col {
  .cell {
    padding: 0 10px;
    text-align: center;

    .el-tag {
      margin-right: 0px;
    }
  }
}


// fix date-picker ui bug in filter-item
.el-range-editor.el-input__inner {
  display: inline-flex !important;
}

// to fix el-date-picker css style
.el-range-separator {
  box-sizing: content-box;
}

/*
 element-ui 样式重置
*/
.elODialogModal {
  .el-dialog {
    margin-top: 7vh !important;
  }
  .el-dialog__header {
    border-bottom: 1px solid #ddd;
  }
  .el-dialog__body {
    padding-top: 10px;
    overflow-y: auto;
  }
}
.elODialogModalBodyH60vh {
  .el-dialog__body {
    min-height: 50vh;
    max-height: 65vh;
  }
}

.elODialogModalBodyH70vh {
  .el-dialog__body {
    min-height: 60vh;
    max-height: 70vh;
  }
}


/*table relative */
.auto-general-table-height{
  .el-table{
    height:calc(100vh - #{$delWindowHeight}) !important;
    overflow: auto!important;
  }
}



