/*element-plus 样式重置*/

/*dialog*/
.el-dialog {
  margin-top: 7vh !important;
}
.el-dialog__header {
  border-bottom: 1px solid #ddd;
}
.el-dialog__body {
  padding:10px 20px 10px 10px!important;
  overflow-y: auto;
}
