@import './variables.scss';
@import './transition.scss';
@import './scss-suger.scss';
@import './reset-style.scss';
@import './elemenetStyleOverFlow.scss';


//navbar svg icon style
.nav-svg-icon {
  font-size: 20px;
  color: #5a5e66;
  margin-top: 4px;

}

