// 全局变量定义
$menuBg: #304156;

//sidebar first level style
$backgroundColor: #304156;
$textColor: #bfcbd9;
$activeTextColor: #409eff;
$menuHover: #263445;
//sidebar second and three level style
$subBackgroundColor: #1f2d3d;
$subTextColor: #bfcbd9;
$subActiveTextColor: #409eff;
$subMenuHover: #001528;

//width
$sideBarWidth: 210px;
//navbar
$navBarHeight: 50px;
//tagsView
$tagViewHeight: 32px;
//app-main padding
$appMainPadding: 10px;

//导出scss定义的样式变量
//vite无法获取scss变量https://github.com/vitejs/vite/issues/1279
//:export {
//  menuText: $menuText;
//  menuActiveText: $menuActiveText;
//  subMenuActiveText: $subMenuActiveText;
//  menuBg: $menuBg;
//  menuHover: $menuHover;
//  subMenuBg: $subMenuBg;
//  subMenuHover: $subMenuHover;
//  sideBarWidth: $sideBarWidth;
//}
